body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

* {
    box-sizing: border-box;
}


input::-webkit-search-cancel-button {
    -webkit-appearance: none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #F8F8F8;
    height: 100vh;
}


